.item::before {
    content:"-ICON- ";
}

* {
  margin: 0;
  padding: 0;
}

.itemList {
  overflow: auto;
  list-style-type: none;
}

.item {
  height: 25px;
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  margin-right: 0px;
  border-right: 1px solid #aaaa;
  border-bottom: 1px solid #aaaa;
  padding: 0 20px;
}

.item:last-child {

}

.item:hover {
   color: #333;
}

.item.active {
  font-weight: bold;
  color: #333;
}
